h1{
    color: #ff6600;
    letter-spacing: -1px; /*Espaço entre cada letra*/
    text-transform: capitalize; /*uppercase/lowercase : Letras maiúsculas e minúsculas*/
    width: 650px;
    text-shadow: 1px 1px 1px black; /*Sombreamento do texto*/
    font-family: 'Martel Sans', sans-serif;
}
p{
    width: 650px;
    text-align: justify; /*right/center : Alinhamento do texto*/
    text-indent: 50px; /*Indentação do parágrafo*/
    font-size: 17px /*Tamanho da fonte*/;
    font-family: verdana, arial, sans-serif;

}